<footer class="devcon-site-footer">
	<div class="devcon-site-footer__inner">
		<div class="devcon-site-footer__brand">
			<span class="devcon-site-footer__name" data-lfr-editable-id="siteName" data-lfr-editable-type="text">DEVCON</span>
			<p class="devcon-site-footer__tagline" data-lfr-editable-id="tagline" data-lfr-editable-type="text">Liferay DEVCON Conference</p>
		</div>

		<div class="devcon-site-footer__contact">
			<p class="devcon-site-footer__contact-heading">Contact</p>

			<a class="devcon-site-footer__contact-item" href="mailto:devcon@liferay-events.example">
				<span data-lfr-editable-id="contactEmail" data-lfr-editable-type="text">devcon@liferay-events.example</span>
			</a>

			<a class="devcon-site-footer__contact-item" href="tel:+18005551234">
				<span data-lfr-editable-id="contactPhone" data-lfr-editable-type="text">+1 (800) 555-1234</span>
			</a>

			<p class="devcon-site-footer__contact-item" data-lfr-editable-id="contactAddress" data-lfr-editable-type="text">100 Conference Way, Suite 400, Diamond Bar, CA 91765</p>
		</div>
	</div>

	<p class="devcon-site-footer__copyright" data-lfr-editable-id="copyright" data-lfr-editable-type="text">&copy; 2026 DEVCON. All rights reserved.</p>
</footer>
